:root {
	--white: #fff;
	--black: #000;
	--grey: #C4C4C4;
	--primary: #007377;
	--secondary: #F6DBA0;
}

body {
	font-family: "Manrope", serif;
	padding-top: 90px;
}

h2 {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-size: clamp(24px, 4vw, 48px);
}

h4 {
	font-weight: 600;
	font-size: clamp(20px, 3vw, 30px);
}

h5 {
	font-weight: 800;
	font-size: clamp(18px, 2vw, 30px);
	color: red;
}

p {
	font-size: clamp(16px, 2vw, 24px);
}


/*#####################################*/
/*######                         ######*/
/*######  START OF NAV SECTION   ######*/
/*######                         ######*/
/*#####################################*/

nav {
	background: var(--primary);
	height: 90px;
}

nav>div {
	background: var(--primary)
}

#navbar {
	font-weight: 600;
	font-size: 20px;
}

a:hover {
	color: var(--white);
}

a.nav-link {
	color: var(--white);
	position: relative;
}

a.nav-link::after {
	content: "";
	height: 1px;
	width: calc(100% - 20px);
	background: var(--white);
	position: absolute;
	opacity: 0;
	left: 10px;
	bottom: 4px;
	transition: all 0.2s;
	pointer-events: none;
}

a.nav-link:hover::after,
a.nav-link:focus::after {
	opacity: 1;
}

.nav-item>.nav-link,
.nav-item-text {
	font-size: clamp(14px, 1.062vw, 20px);
	font-weight: 500;
}

ul li a {
	font-size: 16px;
	text-decoration: none;
	color: var(--white);
}

ul li a img {
	color: var(--secondary);
}

#cart-counter {
	font-size: clamp(10px, 1.062vw, 14px);
	display: inline;
	vertical-align: top;
	background: var(--secondary);
	color: var(--primary);
	padding: 1px 5px;
	border-radius: 25px;
}

.navbar-toggler {
	padding: 0;
	border: none;
}

/*########################################*/
/*######                            ######*/
/*######  START OF MEMBER SECTION   ######*/
/*######                            ######*/
/*########################################*/

#member-block {
	background: var(--secondary);
	height: 90px;
}

#member-block p {
	font-size: 16px;
}

#member-name {
	font-weight: 700;
}

/*#####################################*/
/*######                         ######*/
/*######  START OF HERO SECTION  ######*/
/*######                         ######*/
/*#####################################*/

#hero {
	background-color: rgba(1, 43, 75, 0.5);
	height: calc(100vh - 80px);
}

#hero h1 {
	font-family: "Poppins";
	font-weight: 600;
	color: var(--white);
}


#hero .underline::before {
	content: "";
	position: absolute;
	bottom: 4px;
	left: clamp(36px, 4vw, 51px);
	width: clamp(38px, 6.8vw, 59px);
	height: 1.3px;
	;
	background: var(--secondary);
}

.background-clip {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -1;
	object-fit: cover;
	min-width: 100%;
	min-height: 100%;
}


.btn-primary {
	font-size: 18px;
	font-weight: 600;
	color: var(--primary);
	background: var(--white);
	border-width: 0;
	transition: all 0.2s;
}

.btn-primary:hover {
	background: var(--primary);
	color: var(--white);
}

.btn-primary span {
	width: 1.8rem;
	height: 1.8rem;
	background: var(--primary);
	color: var(--white);
	transition: all 0.2s;
}

.btn-primary:hover span {
	background: var(--white);
	color: var(--primary);
}

.btn-sm {
	font-size: 16px;
}

/*##########################################*/
/*######                              ######*/
/*######   START OF MISSION SECTION   ######*/
/*######                              ######*/
/*##########################################*/

.mission-underline::before {
	background: var(--primary);
	content: "";
	height: 1.3px;
	;
	width: 92px;
	position: absolute;
	bottom: clamp(15px, 25%, 25px);
	left: calc(50% - 46px);
}

.right-image,
.left-image {
	width: 93%;
	max-height: 580px;
}

.right-image {
	float: right;
	border-radius: 300px 0px 0px 300px;
}

.left-image {
	float: left;
	border-radius: 0px 300px 300px 0px;
}

/*###############################################*/
/*######                                   ######*/
/*######   START OF RELATIONSHIP SECTION   ######*/
/*######                                   ######*/
/*###############################################*/

#relationship {
	background: var(--primary);
}

.things-underline {
	position: relative;
}

.things-underline::after {
	content: "";
	position: absolute;
	bottom: clamp(4px, 0.8vw, 20px);
	height: 1.3px;
	width: clamp(4px, 100% + -1vw, 15em);
	left: 0;
	background-color: var(--secondary);
}

/*#################################*/
/*######                     ######*/
/*######   START OF HEALTH   ######*/
/*######                     ######*/
/*#################################*/

.experts-underline {
	position: relative;
}

.experts-underline::after {
	content: "";
	position: absolute;
	bottom: clamp(4px, 0.8vw, 20px);
	height: 1.3px;
	width: clamp(4px, 100% + -1vw, 9em);
	left: 0;
	background-color: var(--primary);
}

/*###################################*/
/*######                       ######*/
/*######   START OF LIFELINE   ######*/
/*######                       ######*/
/*###################################*/

.lifeline-program-underline {
	position: relative;
}

.lifeline-program-underline::after {
	content: "";
	position: absolute;
	bottom: clamp(4px, 0.8vw, 20px);
	height: 1.3px;
	width: clamp(4px, 100% + -1vw, 14.2em);
	left: 0;
	background-color: var(--primary);
}

#lifeline {
	background: var(--secondary);
}


/*####################################*/
/*######                        ######*/
/*######   START OF COMMITTED   ######*/
/*######                        ######*/
/*####################################*/

.committed-underline {
	position: relative;
}

.committed-underline::after {
	content: "";
	position: absolute;
	bottom: clamp(4px, 0.8vw, 20px);
	height: 1.3px;
	width: clamp(4px, 100% + -1vw, 12.5em);
	left: 0;
	background-color: var(--primary);
}

.btn-secondary {
	font-size: 18px;
	font-weight: 600;
	color: var(--white);
	background: var(--primary);
	border-width: 0;
	transition: all 0.2s;
}

.btn-secondary:hover {
	background: var(--white);
	border: 2px solid var(--primary);
	color: var(--primary);
}

.btn-secondary span {
	width: 1.8rem;
	height: 1.8rem;
	background: var(--white);
	color: var(--primary);
	transition: all 0.2s;
}

.btn-secondary:hover span {
	background: var(--primary);
	color: var(--white);
}

/*##################################################*/
/*######                                      ######*/
/*######   START OF RELATIONSHIP POTENTIAL    ######*/
/*######                                      ######*/
/*##################################################*/

#potential {
	background: var(--primary);
}

#potential .wrapper {
	border: 2px solid var(--grey);
	border-radius: 20px;
	width: clamp(295px, 32vw, 418px);
}

.card-item {
	padding-block: clamp(40px, 10vw, 80px);
}

.card-img {
	height: clamp(60px, 10vw, 84px);
}

.potential-card {
	justify-content: space-evenly;
	align-items: center;
	gap: 30px
}

/*##################################*/
/*######                      ######*/
/*######   START OF FOOTER    ######*/
/*######                      ######*/
/*##################################*/


.footer-logo {
	width: clamp(282px, 30vw, 457px);
	margin-left: clamp(15px, 100vw, 0px);
	margin-left: clamp(0px, 0vw, 50px);
	height: auto;
}

.img-logo {
	margin-right: 0em;
}

.footer-link {
	text-decoration: none;
}

.footer-text {
	font-weight: 700;
	font-size: 17px;
	color: #000;
}

.footer-line {
	border-top: 1px solid #C4C4C4;
	height: 30px;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 3rem;
}

.credits {
	font-size: 20px;
	flex: 1;
	min-width: 250px;
	max-width: 1200px;
	flex-basis: 820px;
	text-align: center;
	font-weight: 500;
	color: #007377;
}

.policy {
	flex: 1;
	flex-basis: 295px;
	min-width: 250px;
	text-align: end;
}

.terms {
	flex: 1;
	min-width: 250px;
	flex-basis: 440px;
	text-align: center;
}

.add-footer {
	text-decoration: none;
	color: #000;
	font-weight: 700;
}

.add-footer:hover {
	color: #007377;
}

@media screen and (max-width: 1217px) {

	.credits,
	.terms,
	.policy {
		text-align: center;
	}

	.credits {
		order: 1;
	}
}

@media screen and (max-width: 1672px) {

	.credits,
	.terms,
	.policy {
		flex-basis: auto;
	}
}

@media screen and (max-width: 485px) {

	.terms,
	.policy {
		flex-basis: 0;
	}

	.credits {
		order: 1;
		height: 7.5rem;
	}
}
